#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.innermsg {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 15px;
  margin-bottom: 5px;
}

.innermsg.left {
  float: left;
  background-color: #F1F0F0;
  color: black;
  clear: both;
}

.innermsg.right {
  float: right;
  //margin-right: 10%;
  background-color: #0084FF;
  color: white;
  clear: both;
}

.msgbubble {
  margin-bottom: 10px;
}