<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      dialogflow-client
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-fab vertical="center" horizontal="center" slot="fixed" [hidden]="micon">
    <ion-fab-button size="large">
      <ion-icon name="mic-off" (click)="startListening()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="stopListening()" [hidden]="micoff">
    <ion-fab-button size="large">
      <ion-icon name="mic" (click)="stopListening()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-list no-lines class="msgbubble" *ngFor="let conversation of conversationHistory">
    
    <div class="innermsg right" >
      {{conversation.question}}
    </div>
    <div class="innermsg left" >
      {{conversation.answer}}
    </div>
  </ion-list>
</ion-content>
